@import 'vars';

.top-head {
    background-color: #F1E4E6;
    min-height: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        color: $colorSelectSite;
        font-family: $fontFamilySite;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

.breadcrumbs {
    &__link {
        color: $colorTextBox;
        font-family: $fontFamilySite;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &_site {
            color: $colorSelectSite;
            font-weight: 700;
        }
    }

    &__link:hover {
        color: $colorSelectSite;
    }

    &_ul {
        display: flex;
        list-style-type: none;
    }

    &_li:not(:last-child)::after {
        content: '/';
        padding-right: 8px;
        padding-left: 8px;
        color: $colorTextBox;
    }
}

.product-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7;

    &__nav {
        background-color: #E5E5E5;
        padding: 10px;
    }

    &__nav:hover path {
        fill: $colorSelectSite;
    }

}

.product-detail-sku {

    padding-bottom: 129px;

    &__product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__category {
        color: $colorSelectSite;
        font-family: $fontFamilySite;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        text-decoration: underline solid $colorSelectSite 3px;
        text-underline-offset: 12px;

        padding-top: 64px;
        padding-bottom: 28px;

    }

    &__title {
        color: #4D4D4D;
        font-family: $fontFamilySite;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        padding-bottom: 48px;
    }

    &__text {
        color: #5E5E5E;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        padding-bottom: 32px;
    }

    &__price {
        color: $colorSelectSite;
        font-family: $fontFamilySite;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        padding-bottom: 68px;
    }

    &_line {
        height: 1px;
        background-color: #EAEAEA;
        margin-bottom: 68px;
    }

    &__parameter {
        padding-bottom: 48px;
    }
}

.btn__add {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 64px;

    &:hover path {
        fill: #fff;
    }
}

.catalog-box {
    padding-bottom: 80px;
}