.top-head {
  background-color: #F1E4E6;
  min-height: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  color: #F16D7F;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumbs__link {
  color: #5D5D5D;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs__link_site {
  color: #F16D7F;
  font-weight: 700;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
}
.breadcrumbs_ul {
  display: flex;
  list-style-type: none;
}
.breadcrumbs_li:not(:last-child)::after {
  content: "/";
  padding-right: 8px;
  padding-left: 8px;
  color: #5D5D5D;
}

.product-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F7F7F7;
}
.product-main__nav {
  background-color: #E5E5E5;
  padding: 10px;
}
.product-main__nav:hover path {
  fill: #F16D7F;
}

.product-detail-sku {
  padding-bottom: 129px;
}
.product-detail-sku__product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail-sku__category {
  color: #F16D7F;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  -webkit-text-decoration: underline solid #F16D7F 3px;
          text-decoration: underline solid #F16D7F 3px;
  text-underline-offset: 12px;
  padding-top: 64px;
  padding-bottom: 28px;
}
.product-detail-sku__title {
  color: #4D4D4D;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 48px;
}
.product-detail-sku__text {
  color: #5E5E5E;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 32px;
}
.product-detail-sku__price {
  color: #F16D7F;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 68px;
}
.product-detail-sku_line {
  height: 1px;
  background-color: #EAEAEA;
  margin-bottom: 68px;
}
.product-detail-sku__parameter {
  padding-bottom: 48px;
}

.btn__add {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 64px;
}
.btn__add:hover path {
  fill: #fff;
}

.catalog-box {
  padding-bottom: 80px;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: white;
  padding: 0px 16px 16px;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  color: #000;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__item {
  margin-top: 16px;
}
.filter__item_heading {
  color: #5D5D5D;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__item_heading {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #5D5D5D;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  gap: 42px;
}
.sort__details {
  position: relative;
}
.sort__details[open] path {
  fill: #F16D7F;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__summary:hover path {
  fill: #F16D7F;
}
.sort__heading {
  color: #5D5D5D;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box {
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #5D5D5D;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.pagination-wrapper {
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-wrapper__box {
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  padding: 12px 15px;
  display: flex;
  gap: 15px;
}
.pagination-wrapper__pages {
  display: flex;
  gap: 15px;
}
.pagination-wrapper__pages-nav {
  color: #5D5D5D;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pagination-wrapper__pages-nav:hover {
  color: #F16D7F;
}
.pagination-wrapper__pages-nav:hover path {
  fill: #F16D7F;
}

.main-cart {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11%;
  /*left*/
  /*right*/
}
.main-cart__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-cart__product {
  display: flex;
  flex-direction: row;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.main-cart__product_img {
  max-width: 262px;
}
.main-cart__product_info {
  padding: 22px 31px 62px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.main-cart__product_title {
  color: #000;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 42px;
  max-width: 262px;
}
.main-cart__product_text {
  color: #5D5D5D;
  font-family: "Lato";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-cart__product_text_price::after {
  content: "300$";
  color: #F16D7F;
  padding-left: 10px;
}
.main-cart__product_text_color::after {
  content: "Red";
  padding-left: 10px;
}
.main-cart__product_text_size::after {
  content: "XL";
  padding-left: 10px;
}
.main-cart__product_text_quantity::after {
  content: "2";
  padding-left: 10px;
}
.main-cart__buttons {
  display: flex;
  justify-content: space-between;
}
.main-cart__buttons_link {
  color: #000;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
}
.main-cart__buttons_link:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.main-cart__final-box {
  background-color: #F1E4E6;
  padding: 42px 34px;
}
.main-cart__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 57px;
  margin-top: 17px;
}
.main-cart__final {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  padding-bottom: 17px;
}
.main-cart__final_subtitle {
  color: #5D5D5D;
  font-family: "Lato";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-cart__final_subtitle::after {
  content: "$900";
  padding-left: 70px;
}
.main-cart__final_title {
  color: #222;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 21px;
}
.main-cart__final_title::after {
  content: "$900";
  color: #F16D7F;
  font-weight: 700;
  padding-left: 70px;
}
.main-cart__button {
  color: #FFF;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 17px 40px;
  border: 1px solid transparent;
  background-color: #F16D7F;
}
.main-cart__button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

/* Header */
.header {
  background-color: #222;
  max-height: 75px;
  padding-top: 18px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header__right {
  display: flex;
  align-items: flex-end;
  gap: 25px;
}
.header__left {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}

.burger-menu__nav {
  width: 232px;
  position: absolute;
  z-index: 20;
  background-color: white;
  padding: 37px 33px 33px;
  top: 75px;
}
.burger-menu__title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}
.burger-menu__item {
  margin-top: 12px;
}
.burger-menu__item__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.burger-menu__item[open] .burger-menu__item__head {
  color: #F16D7F;
}
.burger-menu[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.burger-menu__head {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.burger-menu__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 12px 12px 20px 40px;
}
.burger-menu__link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
}
.burger-menu__link:hover {
  color: #F16D7F;
}

/* Main */
.main {
  background-color: #F1E4E6;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 63px;
  margin-bottom: 65px;
}
.main__right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main__content_title {
  color: #222;
  font-family: "Lato";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.vertical-stripe {
  background-color: #F16D7F;
  width: 12px;
  height: 92px;
  margin-right: 16px;
}

.bold {
  font-size: 48px;
}

.pink {
  color: #F16D7F;
}

/* Category */
.category {
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  gap: 30px;
}

.category_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wide_item {
  grid-column: span 3;
}

.category_info {
  position: absolute;
}

.category_text {
  color: #FFF;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.category_subtitle {
  color: #F16D7F;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Featured */
.featured_items {
  padding-bottom: 60px;
}

.featured_items_info {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_title {
  color: #222;
  font-family: "Lato";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 6px;
}

.info_text {
  color: #9F9F9F;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 48px;
}

.product {
  background-color: #F8F8F8;
  position: relative;
}
.product_info {
  padding: 24px 16px;
  display: grid;
  gap: 16px;
}
.product_name {
  color: #222;
  font-family: "Lato";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product_text {
  color: #5D5D5D;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product_price {
  color: #F16D7F;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
}

.product:hover .overlay {
  opacity: 1;
}

.btn_link {
  display: flex;
  justify-content: center;
}

.btn {
  color: #F16D7F;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 39px 14px 39px;
  border: 2px solid #F16D7F;
}
.btn:hover {
  border: 2px solid transparent;
  color: #FFF;
  background-color: #F16D7F;
  transition: all 0, 3s;
}

.opportunity {
  background-color: #222;
  display: flex;
  padding: 104px 230px;
}
.opportunity_box {
  flex-grow: 1;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.opportunity_title {
  padding-top: 28px;
  padding-bottom: 16px;
  color: #FBFBFB;
  font-family: "Lato";
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.opportunity_text {
  color: #FBFBFB;
  text-align: center;
  font-family: "Lato";
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.application {
  background-image: url(img/photo\ subscribe.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.application_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.application_text {
  color: #222;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app_title {
  color: #222;
  text-align: center;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.app_text {
  color: #222;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.application_right {
  min-width: 557px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.application_form {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 39px;
  color: #E1E1E1;
}
.application_form_input {
  padding: 10px;
  max-width: 256px;
  height: 49px;
  border: 0;
  border-start-start-radius: 20px;
  border-end-start-radius: 20px;
  color: #222;
  font-size: 14px;
  font-weight: 400;
}
.application_form_submit {
  width: 100px;
  max-height: 49px;
  border: 0;
  background-color: #F16D7F;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s;
}
.application_form_submit:hover {
  background-color: #FFF;
  color: #F16D7F;
  border-color: #F16D7F;
}

.footer {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 14.375%;
  padding-right: 14.375%;
}
.footer_left {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FBFBFB;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav_footer {
  display: flex;
  flex-direction: row;
  gap: 7.29px;
  padding-top: 23px;
  padding-bottom: 24px;
}
.nav_footer_icons {
  position: relative;
}
.nav_footer_icon_background {
  transition: all 0.3s;
}
.nav_footer_icons_background:hover path {
  fill: #F16D7F;
}

.footer_icon1 {
  position: absolute;
  top: 8px;
  left: 10.93px;
}

.footer_icon2 {
  position: absolute;
  top: 8px;
  left: 7.95px;
}

.footer_icon3 {
  position: absolute;
  top: 8px;
  left: 9.93px;
}

.footer_icon4 {
  position: absolute;
  top: 8px;
  left: 7.95px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }
  .main {
    gap: 39px;
  }
  .main__left img {
    width: 386px;
  }
  .main_content_title {
    font-size: 26px;
  }
  .bold {
    font-size: 44px;
  }
  .category {
    grid-template-columns: repeat(3, 231px);
    gap: 20px;
    padding-bottom: 110px;
  }
  .featured_items_info {
    padding-bottom: 73px;
  }
  .catalog {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    padding-bottom: 32px;
  }
  .featured_items {
    padding-bottom: 70.5px;
  }
  .opportunity {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .opportunity_title {
    font-size: 19.96px;
  }
  .opportunity_text {
    font-size: 13.972px;
  }
  .application {
    justify-content: center;
    flex-direction: column;
    gap: 48px;
  }
  .application_form {
    margin-top: 27px;
  }
  .footer {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 170px);
    padding-right: calc(50% - 170px);
  }
  .header {
    padding: 18px 18px 19px;
    justify-content: space-between;
  }
  .no_icon {
    display: none;
  }
  .main {
    padding: 148px 56px 149px;
    margin-bottom: 64px;
  }
  .main__left {
    display: none;
  }
  .vertical_stripe {
    height: 61px;
    margin-right: 15px;
  }
  .main_content_title {
    font-size: 20px;
  }
  .bold {
    font-size: 38px;
  }
  .category {
    grid-template-columns: repeat(1, 343px);
    gap: 32px;
    padding-bottom: 64px;
  }
  .category_subtitle {
    font-size: 24px;
  }
  .wide_item {
    grid-column: span 1;
  }
  .featured_items_info {
    padding-bottom: 65px;
  }
  .catalog {
    grid-template-columns: repeat(1, 359px);
    gap: 17px;
    padding-bottom: 41px;
  }
  .featured_items {
    padding-bottom: 85px;
  }
  .opportunity {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .opportunity_title {
    font-size: 19.96px;
  }
  .opportunity_text {
    font-size: 13.972px;
  }
  .application {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 400px) {
  .center {
    padding-left: calc(50% - 152px);
    padding-right: calc(50% - 152px);
  }
  .main {
    padding: 148px 30px 149px;
    margin-bottom: 64px;
  }
  .main_content_title {
    font-size: 18px;
  }
  .bold {
    font-size: 36px;
  }
  .category {
    grid-template-columns: repeat(1, 304px);
    gap: 32px;
    padding-bottom: 64px;
  }
  .catalog {
    grid-template-columns: repeat(1, 310px);
    gap: 17px;
    padding-bottom: 41px;
  }
}/*# sourceMappingURL=style.css.map */